asn1crypto==0.24.0
certifi==2019.6.16
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
pipenv==2018.11.26
pycairo==1.16.2
pycrypto==2.6.1
pyflakes==1.6.0
pygobject==3.26.1
pyxdg==0.26
SecretStorage==2.3.1
six==1.11.0
typing==3.7.4.1
virtualenv==16.7.3
virtualenv-clone==0.5.3
